footer{
    background-color: #59377e; /* Cor de fundo do rodapé */
    color: #e2eafc; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0.8rem; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: relative; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 0.8rem; /* Tamanho da fonte */
    margin-top: 2rem;

}

.link{
    text-decoration: none;
    /* Remove o sublinhado padrão dos links */
    color: #e6cdf8;
    /* Cor do texto dos links */
}

.link:hover{
    text-decoration: underline;
    /* Remove o sublinhado padrão dos links */
    color: #e6cdf8;
    /* Cor do texto dos links */
}