body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
  
    margin: 0;
    padding: 0;
  }

  .form-container {
    max-width: 800px;
    margin: auto;
  
}
.shadow-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    color: rgb(246, 236, 255);
}
.shadow-box2 {
  box-shadow: 0 0px 8px #63596d;
  border-radius: 0.5rem;
  padding: 2%;
}

.image-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 0.5rem;
    background-color: #f8f9fa;
}

.image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 0.5rem;
  background-color: #f8f9fa;
}

.image-profile {
  width: 125px;
  height: 125x;
  object-fit: cover;
  border-radius: 50%;
  background-color: #f8f9fa;
}
