body{
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-invisivel{
    width: 100%;
    height: 6rem;
}

.logo-space{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.logo-login{
    width: 50rem;
    margin-bottom: 3rem;
}

.logo-site {
    width: 35rem;
    margin-top: 5rem;
}

.login{
    width: 10rem;
    margin-top: 1rem;
}

.radios{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-box{
    width: 35rem;
    height: auto;
    border: 0.2rem solid rgba(98, 17, 184, 0.3); 
    border-radius: 1.5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-login{
    display: flex;
    flex-direction: row;
    max-width: 25rem;
    margin-top: 1rem;
}

.input-senha {
    display: flex;
    flex-direction: column;
    width: 25rem;
    margin-top: 1rem;
}

.botao{
    width: 7rem;
    background-color: #9364CE;
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 0.5rem;
    border-radius: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.botao:hover{
    background-color: #664094;
}

.div-registre{
    display: flex;
    justify-content: center;
}

.registre{
    width: 15rem;
    margin-top: 1.5rem;
}

.registre:hover {
    transform: scale(1.03);
    background: none;
    border: none;
    cursor: pointer;

}