body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    background-color: #45474B;
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-profile {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #f8f9fa;
    margin-bottom: 1rem;
}

.image-profile:hover{
    transform: scale(1.02);
}

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-resultado {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.class-img{
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-produtos{
    width: 45rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.card {
    height: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.card-body h3:hover {
    color: #3f053f;
    text-decoration: underline;
}

.card-title{
    text-align: center;
}

.img-card {
    height: 16rem;
}

.erro-pesquisa {
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-erroEmpresa {
    width: 48rem;
}