.body2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #502779;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
}
  
.cima{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    /*border: 1px solid red;*/
}   

.baixo{
    width: 100%;
    height: 80%;
    /*border: 1px solid aqua;*/
}  

.esquerdo{
    /*border: 1px solid red;*/
    width: 65%; 
    height: 100vh;
    margin-top: 5rem;
}

.div-logoCad{
    width: 62%;
    display: flex;
    justify-content: right;
}

.logo-cadastro{
    width: 10rem;
}

.radios{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.div-botao{
    width: 100%;
    margin-bottom: 2rem;
}

.botao{
    width: 3.5rem;
    margin-left: 5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.direito{
    /*border: 1px solid green;*/
    width: 35%; 
    height: 100vh;
    display: flex;
    justify-content: left;
}

.logo{
    width: 85%;
    border-radius: 1.5rem;
    margin-top: 5rem; 
}

label{
    color: white;
    
}

#enviar{

    background-color: #4ABFB2; 
    border-color: #3BA99C; 
    width: 30%;
}

#voltar{

    background-color: #C1ECE7; 
    border-color: #C1ECE7;
    width: 20%;
}

#formDiv1{
    display: none;
}

#formDiv2{
    display: none;

    
}

#formDiv3{
    display: none;

}

#camposFlutuantes{
    color: #502779;
    font-weight: bold;
}