* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: purple;
}

.container2 {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #502779;
}

.esquerdo {
    width: 1%;
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: lightblue;
}

.direito {
    flex: 1;
    padding: 0px;
    background-color: lightgreen;
}

.entre_cima_baixo{
     flex: 1;
     background-color: #502779;

}
   
.cima_esquerdo{
    flex: 2;
    padding: 20px;
    background-color: #502779;
}

.baixo_esquerdo{
    flex: 4;
    background-color: #502779;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.alinhamento_lado_lado{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.alinhamento_lado_lado-nome{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

.entrada-nome{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: left;
    align-items: start;
    flex: 1;
    padding: 0 85px;
    
}

.entrada{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0 80px;
    
}

input[type="text"], input[type="date"], input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px; 
}

.botoes {
    display: flex;
    justify-content: space-between;
}