body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
  
    margin: 0;
    padding: 0;
}
.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .category-title {
    margin: 30px 0 10px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
  .product-carousel .carousel-item {
    display: flex;
    justify-content: center;
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
  }
  .carousel-control-prev2, .carousel-control-next2 {
    width: 5%;
  }
  .carousel-control-prev2 {
    left: -5%;
  }
  .carousel-control-next2 {
    right: -5%;
  }
  
  
  
  .teste {
    object-fit: cover;
  }

  .card {
    height: 100%;
  }

.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.5rem;

}

#card-body-h3:hover{
  color: blueviolet;
}

.card-footer{
  display: flex;
  flex-direction: column;
}

  .custom{
    font-size: 300%;
  }

.item-price{
  margin-top: auto;
  color: blueviolet;
}


  