body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .category-title {
    margin: 30px 0 10px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
  .product-carousel .carousel-item {
    display: flex;
    justify-content: center;
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
  }
  .carousel-control-prev2, .carousel-control-next2 {
    width: 5%;
  }
  .carousel-control-prev2 {
    left: -5%;
  }
  .carousel-control-next2 {
    right: -5%;
  }

.main{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show {
  opacity: 1;
}

.div-logo img{
  width: 10rem;
  margin-bottom: 2rem;
}
  
.div-resultado{
  display: flex;
  justify-content: space-evenly;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.card {
  height: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.card-body h3:hover{
  color: #3f053f;
  text-decoration: underline;
}

.img-card{
  height: 16rem;
}

.carrinho-btn{
  background-color: #502779;
}


.custom{
  font-size: 300%;
}

.erro-pesquisa {
  display: flex;
  justify-content: center;
  width: 100%;
}

.img-erro{
  width: 40rem;
}

.img-erro:hover{
  transform: scale(1.03);
}

.img-erroProduto{
  width: 50rem;
  margin: 7.5rem;
}

.img-erroProduto:hover{
  transform: scale(1.03);
}

.produtosEncontrados{
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  /* Transforma a lista em um flex container */
}

nav li {
  position: relative;
  /* Posiciona o elemento como referência para o submenu */
}

.dropdown-subcategoria {
  display: none;
  /* Esconde o submenu por padrão */
  position: absolute;
  /* Posiciona o submenu absolutamente em relação ao li */
  top: 0;
  /* Alinha o topo do submenu com o topo do li */
  left: 90%;
  width: 100%;
  /* Posiciona o submenu à direita do li */
  background-color: #fff;
  /* Cor de fundo do submenu (ajuste conforme necessário) */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  /* Adiciona uma sombra para destacar o submenu */
  max-width: 10rem;
}

.dropdown-subcategoria li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

.li-categ:hover .dropdown-subcategoria {
  display: block;
  /* Mostra o submenu quando o mouse passa sobre o li */
}





  