body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
  
    margin: 0;
    padding: 0;
}
.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .category-title {
    margin: 30px 0 10px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
  .product-carousel .carousel-item {
    display: flex;
    justify-content: center;
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
  }
  .carousel-control-prev2, .carousel-control-next2 {
    width: 5%;
  }
  .carousel-control-prev2 {
    left: -5%;
  }
  .carousel-control-next2 {
    right: -5%;
  }

.main{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-logo img{
  width: 10rem;
  margin-bottom: 2rem;
}

.div-logo img:hover{
  transform: scale(1.1);
}
  
.div-resultado{
  display: flex;
  justify-content: space-evenly;
}

.card {
  height: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.card-body h3:hover{
  color: #3f053f;
  text-decoration: underline;
}

.carrinho-btn{
  background-color: #502779;
}


.custom{
  font-size: 300%;
}

.erro-pesquisa{
  display: flex;
  justify-content: center;
  width: 100%;
}

.img-erro{
  width: 40rem;
}

.img-erro:hover{
  transform: scale(1.03);
}

.img-erroProduto{
  width: 50rem;
}

.img-erroProduto:hover{
  transform: scale(1.03);
}




  